name: CI-Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
        matrix:
          node-version: [18.x, 20.x, 22.x]
    steps:
        - name: Checkout code
          uses: actions/checkout@v4
        
        - name: Set up Node.js
          uses: actions/setup-node@v4
          with:
            node-version: ${{ matrix.node-version }}
        - name: Install dependancies
          run: npm install
        - name: Run build
          run: npm run build
        - name: Run tests
          run: npm test
